@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200;300;400;500;600;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}


/**---메인 배경이미지 적용---**/
.mainwrap{
    width:100%;
    background-image: url(img/bg01.png);
    background-size: cover;
    background-position: center;
}



/**---서브01 배경이미지 적용---**/
.sub01wrap{
    width:100%;
    background-image: url(img/bg02.png);
    background-size: cover;
    background-position: center;
}

/**---서브02 배경이미지 적용---**/
.sub02wrap{
    width:100%;
    background-image: url(img/bg03.png);
    background-size: cover;
    background-position: center;
}

/**---서브03 배경이미지 적용---**/
.sub03wrap{
    width:100%;
    background-image: url(img/bg04.png);
    background-size: cover;
    background-position: center;
}

/**---서브04 배경이미지 적용---**/
.sub04wrap{
    width:100%;
    background-image: url(img/bg05.png);
    background-size: cover;
    background-position: center;
}




/**---푸터 적용---**/
footer{
    width: 100%;
    height: 50px;
    background-image: url('img/footer.png');
}

.footer_txt{
    font-family: 'Noto Serif KR', serif;
    font-size: 14PX;
    font-weight: bold;
    color:#ffffff;
    display: flex;
    justify-content: center;
    padding-top: 15px;
}

/**----네비게이션 적용----**/

nav{
    width: 100%;
    height: 220px;
    border: 0px solid green;
}

.menubar{
    display: flex;
    width:1400px;
    border: 0px solid green;
    margin: 0 auto;
    position:relative;
    top: 77px;
}

.logo{
    margin: 0 auto;
}

.menu{
    margin-top: 23px;
    display: flex;
    position: absolute;
}

.menu01{
    width:155px;
    height:30px;
    margin-right: 88px;
    text-align: center;
}

.menu01 > a{
    font-family: 'Noto Serif KR', serif;
    font-size: 20PX;
    color:#5D6F83;
    font-weight: bold;
}

.menu01 > a:hover{
    color: #2c2c2c;
    font-weight: 700;
}

.menuright{

    display: flex;
    position: absolute;
    left:1002px;
}

.menu02{
    width:155px;
    height:30px;
    margin-right: 88px;
    text-align: center;
}

.menu02 > a{
    color:#5D6F83;
    font-family: 'Noto Serif KR', serif;
    font-size: 20PX;
    font-weight: bold;
}

.menu02 > a:hover{
    color: #2c2c2c;
    font-weight: 700;
}

.cont01{
    width: 100%;
    margin-top: 347px;
    margin-left: 260px;
}

.cont02{
    width: 100%;
    margin-top: 587px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cont03{
    width: 100%;
    height: 797px;
    background-color: #F0F0F0;
    margin-top: 201.3px;
}

.main_01{
    width: 100%;
    padding-top: 176px;
    display: flex;
    justify-content: center;
}

.main_02{
    width: 972px;
    display: flex;
    justify-content: center;
    padding-top: 76px;
    margin: 0 auto;
}

.c02{
    margin-left: 22px;
}

.c03{
    margin-left: 22px;
}

.c04{
    margin-left: 22px;
}



/**---서브01--**/

.sub01_cont01{
    width: 100%;
    margin-top: 347px;
    margin-left: 260px;
}

.sub01_t01{
    font-family: 'Noto Serif KR', serif;
    font-size: 30PX;
    font-weight: bold;
    color:#8C9CAB;
    display: flex;
    justify-content: center;
    padding-top: 584px;
}

.sub01_t02{
    font-family: 'Noto Serif KR', serif;
    font-size: 40PX;
    font-weight: bold;
    color:#8BA8B6;
    display: flex;
    justify-content: center;
    padding-top: 92px;
}

.sub01_im01{
    width: 100%;
    margin-top: 92px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub01_t03{
    font-family: 'Noto Serif KR', serif;
    font-size: 16PX;
    font-weight: 600;
    color:#445569;
    display: flex;
    justify-content: center;
    padding-top: 92px;
    text-align: center;
}

.sub01_t04{
    font-family: 'Noto Serif KR', serif;
    font-size: 15PX;
    font-weight: 600;
    color:#445569;
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

.sub01_im02{
    width: 100%;
    margin-top: 256px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub01_t05{
    font-family: 'Noto Serif KR', serif;
    font-size: 40PX;
    font-weight: bold;
    color:#8BA8B6;
    display: flex;
    justify-content: center;
    padding-top: 251px;
}

.sub01_im03{
    width: 100%;
    margin-top: 92px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub01_t06{
    font-family: 'Noto Serif KR', serif;
    font-size: 16PX;
    font-weight: 600;
    color:#445569;
    display: flex;
    justify-content: center;
    padding-top: 92px;
    text-align: center;
}

.sub01_t07{
    font-family: 'Noto Serif KR', serif;
    font-size: 15PX;
    font-weight: 600;
    color:#445569;
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

.sub01_im04{
    width: 100%;
    margin-top: 256px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 589px;
}



/**---서브02---**/
.sub02_cont01{
    width: 100%;
    margin-top: 347px;
    margin-left: 260px;
}

.sub02_t01{
    font-family: 'Noto Serif KR', serif;
    font-size: 30PX;
    font-weight: bold;
    color:#8C9CAB;
    display: flex;
    justify-content: center;
    padding-top: 584px;
}

.sub02_t02{
    font-family: 'Noto Serif KR', serif;
    font-size: 40PX;
    font-weight: bold;
    color:#8BA8B6;
    display: flex;
    justify-content: center;
    padding-top: 92px;
}

.sub02_im01{
    width: 100%;
    margin-top: 92px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub02_t03{
    font-family: 'Noto Serif KR', serif;
    font-size: 16PX;
    font-weight: 600;
    color:#445569;
    display: flex;
    justify-content: center;
    padding-top: 92px;
    text-align: center;
}

.sub02_t04{
    font-family: 'Noto Serif KR', serif;
    font-size: 15PX;
    font-weight: 600;
    color:#445569;
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

.sub02_im02{
    width: 100%;
    margin-top: 256px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub02_t05{
    font-family: 'Noto Serif KR', serif;
    font-size: 40PX;
    font-weight: bold;
    color:#8BA8B6;
    display: flex;
    justify-content: center;
    padding-top: 251px;
}

.sub02_im03{
    width: 100%;
    margin-top: 92px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub02_t06{
    font-family: 'Noto Serif KR', serif;
    font-size: 16PX;
    font-weight: 600;
    color:#445569;
    display: flex;
    justify-content: center;
    padding-top: 92px;
    text-align: center;
}

.sub02_t07{
    font-family: 'Noto Serif KR', serif;
    font-size: 15PX;
    font-weight: 600;
    color:#445569;
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

.sub02_im04{
    width: 100%;
    margin-top: 256px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub02_t08{
    font-family: 'Noto Serif KR', serif;
    font-size: 40PX;
    font-weight: bold;
    color:#8BA8B6;
    display: flex;
    justify-content: center;
    padding-top: 251px;
}

.sub02_im05{
    width: 100%;
    margin-top: 92px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub02_t09{
    font-family: 'Noto Serif KR', serif;
    font-size: 16PX;
    font-weight: 600;
    color:#445569;
    display: flex;
    justify-content: center;
    padding-top: 92px;
    text-align: center;
}

.sub02_t10{
    font-family: 'Noto Serif KR', serif;
    font-size: 15PX;
    font-weight: 600;
    color:#445569;
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

.sub02_im06{
    width: 100%;
    margin-top: 256px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 696px;
}



/**---서브03---**/
.sub03_cont01{
    width: 100%;
    margin-top: 347px;
    margin-left: 260px;
}

.sub03_t01{
    font-family: 'Noto Serif KR', serif;
    font-size: 30PX;
    font-weight: bold;
    color:#8C9CAB;
    display: flex;
    justify-content: center;
    padding-top: 584px;
}

.sub03_t02{
    font-family: 'Noto Serif KR', serif;
    font-size: 40PX;
    font-weight: bold;
    color:#8BA8B6;
    display: flex;
    justify-content: center;
    padding-top: 92px;
}

.sub03_im01{
    width: 100%;
    margin-top: 92px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub03_t03{
    font-family: 'Noto Serif KR', serif;
    font-size: 16PX;
    font-weight: 600;
    color:#445569;
    display: flex;
    justify-content: center;
    padding-top: 92px;
    text-align: center;
}

.sub03_t04{
    font-family: 'Noto Serif KR', serif;
    font-size: 15PX;
    font-weight: 600;
    color:#445569;
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

.sub03_im02{
    width: 100%;
    margin-top: 256px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub03_t05{
    font-family: 'Noto Serif KR', serif;
    font-size: 40PX;
    font-weight: bold;
    color:#8BA8B6;
    display: flex;
    justify-content: center;
    padding-top: 251px;
}

.sub03_im03{
    width: 100%;
    margin-top: 92px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub03_t06{
    font-family: 'Noto Serif KR', serif;
    font-size: 16PX;
    font-weight: 600;
    color:#445569;
    display: flex;
    justify-content: center;
    padding-top: 92px;
    text-align: center;
}

.sub03_t07{
    font-family: 'Noto Serif KR', serif;
    font-size: 15PX;
    font-weight: 600;
    color:#445569;
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

.sub03_im04{
    width: 100%;
    margin-top: 256px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 589px;
}


/**---서브04---**/
.sub04_cont01{
    width: 100%;
    margin-top: 347px;
    margin-left: 260px;
}

.sub04_t01{
    font-family: 'Noto Serif KR', serif;
    font-size: 30PX;
    font-weight: bold;
    color:#8C9CAB;
    display: flex;
    justify-content: center;
    padding-top: 584px;
}

.sub04_t02{
    font-family: 'Noto Serif KR', serif;
    font-size: 40PX;
    font-weight: bold;
    color:#8BA8B6;
    display: flex;
    justify-content: center;
    padding-top: 92px;
}

.sub04_im01{
    width: 100%;
    margin-top: 92px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub04_t03{
    font-family: 'Noto Serif KR', serif;
    font-size: 16PX;
    font-weight: 600;
    color:#445569;
    display: flex;
    justify-content: center;
    padding-top: 92px;
    text-align: center;
}

.sub04_t04{
    font-family: 'Noto Serif KR', serif;
    font-size: 15PX;
    font-weight: 600;
    color:#445569;
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

.sub04_im02{
    width: 100%;
    margin-top: 256px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub04_t05{
    font-family: 'Noto Serif KR', serif;
    font-size: 40PX;
    font-weight: bold;
    color:#8BA8B6;
    display: flex;
    justify-content: center;
    padding-top: 251px;
}

.sub04_im03{
    width: 100%;
    margin-top: 92px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub04_t06{
    font-family: 'Noto Serif KR', serif;
    font-size: 16PX;
    font-weight: 600;
    color:#445569;
    display: flex;
    justify-content: center;
    padding-top: 92px;
    text-align: center;
}

.sub04_t07{
    font-family: 'Noto Serif KR', serif;
    font-size: 15PX;
    font-weight: 600;
    color:#445569;
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

.sub04_im04{
    width: 100%;
    margin-top: 256px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub04_t08{
    font-family: 'Noto Serif KR', serif;
    font-size: 40PX;
    font-weight: bold;
    color:#8BA8B6;
    display: flex;
    justify-content: center;
    padding-top: 251px;
}

.sub04_im05{
    width: 100%;
    margin-top: 92px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub04_t09{
    font-family: 'Noto Serif KR', serif;
    font-size: 16PX;
    font-weight: 600;
    color:#445569;
    display: flex;
    justify-content: center;
    padding-top: 92px;
    text-align: center;
}

.sub04_t10{
    font-family: 'Noto Serif KR', serif;
    font-size: 15PX;
    font-weight: 600;
    color:#445569;
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

.sub04_im06{
    width: 100%;
    margin-top: 256px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 696px;
}
